.Addboard {
  margin: 100px auto 0;
  max-width: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray800);
}

.textarea::placeholder {
  color: var(--color-gray400);
}

.textarea {
  font-size: 16px;
  height: 104px;
  padding: 16px 0 0 24px;
  background-color: var(--color-gray100);
  border: none;
  border-radius: 12px;
}

.button {
  display: flex;
  justify-content: flex-end;
}
