.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media all and (max-width: 767px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
