.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray800);
}

.textarea::placeholder {
  color: var(--color-gray400);
}

.textarea {
  font-size: 16px;
  height: 104px;
  padding: 16px 0 0 24px;
  background-color: var(--color-gray100);
  border: none;
  border-radius: 12px;
  resize: none;
}

.button_box {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 74px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 12px 23px;
  color: var(--color-white);
  background-color: var(--color-gray400);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.activation {
  background-color: var(--color-blue);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}
