.BestArticleCard {
  background-color: var(--color-gray50);
  width: 100%;
  height: 169px;
  padding: 0 24px 16px;
  border-radius: 8px;
}

.title {
  color: var(--color-gray800);
  font-size: 20px;
  font-weight: 600;
}

.image {
  background-color: var(--color-white);
  width: 72px;
  height: 72px;
  padding: 14px 12px;
  border: 1px solid var(--color-gray200);
  border-radius: 6px;
}

.article_top {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  /* margin: 16px 0 18px; */
}

.article_bottom {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.article_bottom_profile {
  display: flex;
}

.profile_name {
  color: var(--color-gray600);
}

.like_count {
  color: var(--color-gray500);
}

.date {
  color: var(--color-gray400);
}
