.UploadArticleHeader {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_text {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray900);
}
