@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-red: #f74747;
  --color-skyblue: #e6f2ff;
  --color-blue: #3692ff;
  --color-blue10: #3182f6;
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;

  --color-gray400: #9ca3af;
  --color-gray500: #6b7280;
  --color-gray600: #4b5563;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-gray900: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(-color--gray700);
  letter-spacing: 0.02em;
}

h4 {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
}

h6 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-top: 12px;
}
